.title {
  font-size: 50px;
  padding: 20px 0 10px 0;
  font-weight: 800;
}

.container {
  padding: 0 5%;
}

.subTitle {
  font-size: 30px;
  padding: 10px 0 20px 0;
  font-weight: 800;
}

.description {
  font-size: 16px;
  line-height: 2;
  color: gray;
  font-weight: 500;
}

.more {
  background-color: black;
  color: white;
}
