.slide-text {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 26px;
  font-weight: 800;
  margin: 0 0 0 5%;
  display: unset;
}

.slide-text-deactive {
  position: absolute;
}

.slide-container {
  position: relative;
  max-height: 100vh;
}

.slide-container-move {
  transform: translateY(300px);
  opacity: 0;
  transition:
    transform 500ms,
    opacity 500ms;
}

.slide-container-static {
  transform: translateY(-50%);
  opacity: 1;
  transition:
    transform 1s,
    opacity 1s;
}
